.DS_Store
local.properties
*.iml
*.rar
*.iml
*.swp
*.un~
*.xctest
*.xcuserstate
*.plist
*.xcscheme
*.xcbkptlist
build

testproj-android-core/szu.bdi.hybrid.coretest/szu.bdi.hybrid.coretest-release.zip
testproj-android-core/szu.bdi.hybrid.coretest/szu.bdi.hybrid.coretest-release.apk
