<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="szu.bdi.hybrid.demo"
    android:installLocation="internalOnly">

    <!-- android:allowBackup="true" -->
    <!-- android:icon="@mipmap/ic_launcher" -->
    <!-- android:label="@string/app_name" -->
    <!-- android:theme="@style/MyActionBarStyle" -->
    <!-- tools:replace="android:allowBackup" -->

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".HybridDemoApplication">

        <!-- android:icon="@drawable/logo" -->
        <!-- TOOL:  http://www.iconres.com/tool/drawable.php -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/android:Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/android:Theme.Light.NoTitleBar" />

        <!-- register HybridUIs -->
        <!--<activity android:name="szu.bdi.hybrid.core.HybridUi"/>-->
        <activity android:name="szu.bdi.hybrid.core.eg.SimpleWebViewUi" />
        <activity android:name="szu.bdi.hybrid.core.eg.SimpleHybridWebViewUi" />

        <activity android:name="szu.bdi.hybrid.demo.UiHome" />
    </application>

</manifest>
