<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>proj-ios-jso-dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F16DAAD1D95283A00C23138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F16DAC61D95283B00C23138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F16DAD11D95283B00C23138</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
